<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= link_to blog.title, blog_path(blog)%>
  </p>

   <p>
    <strong></strong>
    Published <%= distance_of_time_in_words(blog.created_at, Time.now)%> ago
  </p>

  <p>
    <strong>Body:</strong>
    <%= blog.body %>
  </p>
  <p>
    <%= link_to blog.status, toggle_status_blog_path(blog) %>
  </p>

</div>
