<%= form_tag(blogs_path) do %>
  <div class="form-group mb-3">
    <%= label_tag 'title', 'Blog Title' %>
    <%= text_field_tag 'title', blog.title, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= label_tag 'body', 'Blog Content' %>
    <%= text_area_tag 'body', blog.body, rows: 15, class: 'form-control' %>
  </div>

    <div class="form-group mb-3">
    <%= submit_tag 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
