<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body, class: 'form-control', rows: "10" %>
  </div>

  <div class="form-group">
    <%= form.submit "Create Blog", class: 'btn btn-primary' %>
  </div>
<% end %>
