<aside class="col-md-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Hello I’m a <em>software developer</em> ! I can help you build a product , 
    feature or website Look through some of my work and experience! If you 
    like what you see and have a project you need coded, don’t hestiate to 
    contact me.</p>
  </div>

  <div class="p-3">
  <h4 class="font-italic">Let's Connect</h4>
    <ol class="list-unstyled social-links">
      <li>
        <%= link_to "https://github.com/Emmy-github-webdev", target: :_blank do %>
          <%= fa_icon "github" %>    
        <% end %> 
      </li>
      <li>
        <%= link_to "https://linkedin.com/in/emmanuelogaho", target: :_blank do %>
          <%= fa_icon "linkedin-square" %>   
        <% end %> 
      </li>
      <li>
        <%= link_to "#", target: :_blank do %>
          <%= fa_icon "angellist" %></a>   
        <% end %> 
      </li>
      <li>
        <%= link_to "https://twitter.com/ogaemmanueloga", target: :_blank do %>
          <%= fa_icon "twitter-square" %>   
        <% end %> 
      </li>
    </ol>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
   <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
      <li><a href="#">January 2014</a></li>
      <li><a href="#">December 2013</a></li>         
    </ol>
  </div>
</aside>