<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="<%= @seo_keywords %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "portfolios", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/portfolio_nav' %>
    <main role="main">
      <%= render 'shared/portfolio_masthead' unless logged_in?(:portfolio_admin) %>
      <%= yield %>
    </main>
   <%= source_helper('application') %>
   <%= render 'shared/portfolio_footer' %>
  </body>
</html>
